@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*Universal*/

body {
  font-family: "Montserrat";
}

/*Logo and Nav section*/

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  padding: 1.5rem 1.5rem;
  top: 0;
  background-color: #eec900;
  border-bottom: 4px #fff solid;
  z-index: 1000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  width: max-content;
  position: absolute;
  background-color: #eec900;
  z-index: 1;
  border: 1px #fff solid;
}

.dropdown-content a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content a:hover {
  background-color: #bfa301;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;
}

.nav-container .logo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 25%;
  color: #fff;
  font-size: 2rem;
  padding-top: 1.25rem;
}

.logo img {
  width: 3.5rem;
}

.logo p span {
  color: #000;
}

nav .nav-links a {
  color: #000;
  padding-left: 2rem;
  font-size: 1.75rem;
}

/*Media Query for Desktop*/
@media only screen and (min-width: 601px) {
  .nav-links a:hover {
    color: #fff;
  }

  .mobile-container {
    display: none;
  }
}

/*Media Query for Mobile*/
@media only screen and (min-width: 200px) and (max-width: 600px) {
  nav .nav-container {
    display: none;
  }

  .mobile-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 2.5rem;
  }

  .mobile-container .nav-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    width: max-content;
    position: absolute;
    background-color: #eec900;
    z-index: 1;
    border: 1px #fff solid;
  }

  .dropdown-content a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #000;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
}

/*Header Section*/

.banner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 1.5rem;
  background-color: #36454f;
  border-bottom: 4px #fff solid;
}

.banner-container img {
  width: 60%;
  height: auto;
  margin: 1.5rem 1.5rem;
}

.banner-container .start-here {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-right: 2.5rem;
  color: #fff;
}

/*start here Button section*/
.start-here h2 {
  font-size: 4rem;
}

.start-here p,
.start-here a {
  font-size: 1.5rem;
}

#start-here-button {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1.5rem;
  color: #000;
  border: 1px solid #000;
  background-color: #eec900;
  text-decoration: none;
  width: 60%;
  border-radius: 1rem;
}

#start-here-button:hover {
  color: #fff;
  background-color: #bfa301;
}

/*Media Query for Tablet*/
@media only screen and (min-width: 601px) {
  #start-here-button {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1.5rem;
    color: #000;
    border: 1px solid #000;
    background-color: #eec900;
    text-decoration: none;
    width: 60%;
    border-radius: 1rem;
    margin: 1rem 0;
  }

  .start-here h2 {
    font-size: 3rem;
  }
}

/*Media Query for Mobile*/
@media only screen and (min-width: 200px) and (max-width: 600px) {
  .banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .banner-container .start-here {
    margin: 0;
    padding: 0 1rem 2rem;
  }

  .banner-container img {
    width: 100%;
    margin: 0;
  }

  .start-here h2 {
    font-size: 2rem;
  }

  .start-here p {
    font-size: 1.5rem;
  }

  .start-here a {
    font-size: 1.5rem;
  }
}

/*Information section*/

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 2rem 1.5rem;
  background-color: #f3f5f5;
}

.main-container .row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* content-left */
.main-container .content-left {
  width: 60%;
  padding: 1.5rem;
}

.content-left img {
  width: 100%;
}

.content-left p {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

#cite {
  font-size: 1rem;
}

/* content-right */
.content-right {
  display: flex;
  flex-direction: column;
  width: 38%;
}

.content-right .text {
  margin: 1.5rem;
}

.content-right .img {
  width: 30%;
  height: auto;
  margin: 1.5rem;
}

/* Aside Section */

.box {
  display: flex;
  flex-direction: row;
}

.box p,
.box a {
  font-size: 1.5rem;
}

/*Hover On Info Box*/
.box:hover {
  background-color: #eec900;
  color: #fff;
}

/*Media Query for Desktop*/
@media only screen and (min-width: 720px) {
  .mobile-img {
    display: none;
  }
}

/*Media Query for Tablets*/
@media only screen and (min-width: 720px) and (max-width: 1000px) {
  .content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .content-left img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .content-left h2 {
    font-size: 2.5rem;
  }

  .box h3 {
    font-size: 2rem;
  }
}

/*Media Query for Mobile*/
@media only screen and (min-width: 200px) and (max-width: 600px) {
  .content-left {
    display: none;
  }

  .content-right {
    width: 100%;
    margin: 0 1.5rem 0 0;
  }

  .box {
    display: block;
    width: 100%;
    padding: 1rem auto;
    text-align: center;
  }

  .text {
    margin: 1.5rem;
  }

  .text h3 {
    font-size: 2rem;
  }

  .text p,
  .text a {
    font-size: 1.5rem;
  }

  .content-right .img {
    width: 70%;
    margin: 0 auto;
    padding-top: 1.5rem;
  }
}

/*Start learning Section*/
.learning-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  margin: 0 1.5rem;
  background-color: #36454f;
  margin-top: 4px;
}

.learning-container h2 {
  margin-bottom: 2rem;
  color: #fff;
}

.learning-container .programs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.program {
  width: 20%;
  margin: 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.program:hover {
  transform: translateY(-1rem);
  background-color: #e6e6e6;
}

.program img {
  height: 45%;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.program .text {
  margin: 1rem 1rem 2.5rem 1rem;
}

/*Media Query for Tablets*/
@media only screen and (min-width: 720px) and (max-width: 1000px) {
  .learning-container .programs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .program img {
    height: 45%;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .program .text p {
    display: none;
    align-items: center;
    width: 100%;
  }

  .text h3 {
    font-size: 2rem;
  }
}
/*Media Query for Mobile*/
@media only screen and (min-width: 200px) and (max-width: 600px) {
  .programs-container .program img {
    display: none;
  }

  .program {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .program .text p {
    display: none;
  }

  .program:hover {
    transform: scale(1.075);
  }
}

/*Project*/

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 2rem 1.5rem;
  background-color: #f3f5f5;
  border-bottom: 4px #fff solid;
  margin-top: 4px;
}

.project-container .row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/*Main Article*/
.project-left {
  width: 60%;
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
}

.project-left .text {
  padding: 0 1.5rem;
}

.project-left .text h3 {
  margin-top: 0.5rem;
}

.project-container video {
  width: 100%;
  padding: 1.5rem;
}

/*Sidebar*/
.project-container .project-right {
  display: flex;
  flex-direction: column;
  width: 38%;
  border-bottom: none;
}

.project-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-block img {
  height: auto;
  width: 30%;
  margin: 1.5rem;
}

.project-block .text {
  margin: 1.5rem;
}

.project-block:hover {
  background-color: #eec900;
  color: #fff;
}

/*Media Query for Mobile*/
@media only screen and (min-width: 200px) and (max-width: 600px) {
  .project-container .project-right {
    display: none;
  }

  .project-left .text {
    display: none;
  }

  .project-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .project-container video {
    width: 100%;
    margin: 0 auto;
  }
}

/*Footer section*/
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #eec900;
  margin-top: 0.4rem;
}

.footer-container .copyright {
  padding-top: 1.5rem;
}

/*Media Query for Mobile*/
@media only screen and (min-width: 200px) and (max-width: 600px) {
  .copyright,
  .terms a {
    font-size: 0.75rem;
  }

  .footer-container .copyright {
    padding-top: 1.5rem;
  }
}
